* {
    box-sizing: border-box;
}

body {
    background-color: #fff7F0;
    width: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;



}




#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;


}

header {
    display: flex;
    flex-direction: column;
    padding: 1em;
    max-width: 425px;
}

main {

    max-width: 343px;


}

.logo-consult {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 48px;
    height: 48px;
}

.consultation {
    text-decoration: none;
    padding: 1em 2em;
    background-color: black;
    color: #ffffff;
    border-radius: 2em;
    font-size: 0.9em;
}

.consultation:hover {
    background-color: #755CDE;
    cursor: pointer;
}

.top-words {
    margin-top: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0.5em;
}

.top-words p {
    width: 80%;
    line-height: 1.5em;
    color: #7A746E;
}


.grid {
    display: grid;
    grid-template-areas: 'graphic graphic'
        'ui apps '
        'ill ill'
        'photo photo'
        'motion motion';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 343px 182px 158px 182px 182px;
    gap: 24px 25px;
    margin-top: 2em;
    margin-bottom: 6em;
}

.grid-word {
    display: flex;
    font-weight: bold;
    font-size: 1.5em;

}

.grid-item {
    display: flex;
    flex-direction: column;
    color: #fff;
    border-radius: 0.5em;
    padding: 2em 1em;
    justify-content: space-between;

}

.grid-images {

    align-self: flex-end;
}

.grid-item-1 {
    grid-area: graphic;
    background-color: #755CDE;
}

.grid-item-2 {
    grid-area: ui;
    background-color: #F6A560;


}

.grid-item-3 {
    grid-area: apps;
    background-color: #F39E9E;


}

.grid-item-4 {
    grid-area: ill;
    background-color: #EB7565;
}

.grid-item-5 {
    grid-area: photo;
    background-color: #61C4B7;
}

.grid-item-6 {
    grid-area: motion;
    background-color: #552049;
}



.img-1 {
    width: 128px;
}


.bio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.amy-image {
    max-width: 300px;
}

h2 {
    font-weight: bold;
    font-size: 1.6em;
    line-height: 1.3em;
}

.amy-title {
    margin: 1em 0em;
}

.amy-words p {
    line-height: 1.5em;
    color: #7A746E;
    margin-bottom: 3em;
}


.my-work {
    text-align: center;
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;





}

.work-photos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow-x: visible;
    margin: 1em 0em;
    width: 840px;

}

.moving-photos {
    border-radius: 1em;
    width: 270px;
    margin-right: 1em;

}



.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 50%;
    padding: 1.2em;
    border: none;
}

.button:hover {
    background-color: #755CDE;
    cursor: pointer;
}

.orange-consult {
    background-color: #EB7565;
}

.orange-consult:hover {
    background-color: #F6A560;
}

footer {
    margin-top: 3em;
}

.footer-darkbox {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    border-radius: 1em;
    padding: 1em;
    padding-bottom: 4em;
    padding-top: 4em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-words {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-darkbox p {
    line-height: 1.5em;
    margin-bottom: 2em;
    width: 90%;
}

.footer-items {
    padding: 1em;
    max-width: 425px;
}

.footer-h2 {
    margin-bottom: 1em;

}

.splide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;

}

.splide__track {
    overflow: visible;
}

.splide__arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 170px;
    order: 2;
    margin-top: 2em;


}

svg {
    filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(2deg) brightness(103%) contrast(102%);
    position: relative;
    left: 1em;
    top: 0.7em;

}

button:nth-child(2) svg {
    transform: rotate(180deg);
    top: -1.1em;

    left: -0.8em;
}

@media screen and (min-width:768px) {
    .grid {
        grid-template-areas: 'graphic graphic ui apps'
            'graphic graphic ill ill '
            'photo photo motion motion';

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 182px 182px 182px;
    }

    header {
        max-width: 690px;
        padding: 1em 0em;
    }

    main {
        max-width: 690px;
    }


    .bio-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;

        position: relative;

    }

    .amy-image {
        max-width: 364px;
        position: relative;
        left: -5.0em;
    }

    .amy-words {
        padding: 0em;
        position: relative;
        left: -1em;
    }

    .amy-words p {
        font-size: ;
    }

    .amy-title {
        margin-top: 0em;
        font-size: 2em;
    }

    .moving-photos {
        width: 540px;
    }

    .footer-items {
        max-width: 690px;
    }

    .moving-photos {

        margin-right: 2em;

    }
}




@media screen and (min-width:1300px) {
    .grid {
        grid-template-areas: 'graphic graphic ui apps photo photo'
            'graphic graphic ill ill motion motion ';

        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 182px 182px;
    }

    header {
        max-width: 1111px;
        width: 100%;

    }

    main {
        max-width: 1111px;
    }

    .footer-items {
        max-width: 1110px;
    }


    .bio-section {

        align-items: center;
        max-width: 1110px;


    }

    .amy-image {
        max-width: 445px;

        left: 0em;
    }


    .amy-title {
        font-size: 40px;
    }

    .amy-words {
        padding: 0em 0em;
    }
}